.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.float-left {
  float: left;
}

.icon{
  max-width: 10%;
  max-height: 10%;
}

.white{
  color: white
}

.switch-image{
  width: 40vh;
  height: 40vh;
  margin-right: 10%;
  margin-bottom: 5%;
}

.wrap{
  text-align:justify;
  max-width: 40%;
}

.float-right {
  float: right;

  &-margin{
    float: right;
    margin: 10%;
  }
}

.body {
  display: inline-flexbox;
  padding: auto;
  min-width: none;
  margin-top: 5%;
  margin-left: 10%;
}

.header{
  margin: 35px;
}

.white{
  color: white
}

.fit-content {
  max-height: fit-content;
  max-width: fit-content;
}

.exhibition-container {
  width: 50%;
  margin: 5 auto;
  overflow: hidden;
}

.archive-container {
  position: relative;
  width: 50%;
  height: 10%;
  margin: 5 auto;
  overflow: hidden;
  border-bottom: 1px solid rgba(0,0,.125);
}

.artist-container {
  position: relative;
  width: 250px;
  margin: 5 auto;
  overflow: hidden;
  border: 1px solid rgba(0,0,.125);
}

.desc {
  padding: 10px;
}

.sidenav{
  writing-mode: vertical-rl;
  position:absolute;
  top:0;
  bottom:0;
  height:100%;
  left:0;
  min-width: fit-content;
  width: 8%;
}

.sidenav-home{
  writing-mode: vertical-rl;
  background-color: rgba($color: #000000, $alpha: 0.4);
  position:absolute;
  top:0;
  bottom:0;
  height:100%;
  left:0;
  min-width: fit-content;
  width: 8%;
}

.navtext {
  writing-mode: vertical-rl;
  font-size: x-large;
  position:relative;
  top: 30%;
  max-height: 70%;

  white {
    color: white;
  }
}

.exhibtext{
  position: relative;
  left: 10%;
}

.hov:hover {
  text-decoration: underline;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.heroimage{
  position:absolute;
  top:0;
  bottom:0;
  height:100%;
  width: 100%;
  right:0;
  left:0;
}

.list{
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.large{
  font-size: x-large;
}

.t-shadow{
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.borderred { border: 1px solid red; }